<!DOCTYPE html>
<html>
  <head>
    <title>AudioLine</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile.flatui.css" />
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts//jquery.mobile-1.3.1.min.js"></script>
  </head>
  <body>
    <h1>Happy your birthday!</h1>
    <p>Welcome to your AudioLine</p>

	<ul>
	  <% for(var i=0; i< tweets.length; i++) {%>
		 <li><%= tweets[i] %></li>
	  <% } %>
	</ul>

  </body>
</html>
