<!DOCTYPE html>
<html>
  <head>
    <title>AudioLine</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/three.min.js"></script>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/boid.js"></script>
	<script src="/javascripts/pico.js"></script>
	<script type="text/javascript">
	  var tweets = [
	  <% for(var i = 0; i < tweets.length; i++) {%>
		 [ <%= tweets[i] %> ],
	     <% } %>
      ];
	</script>
	<script src="/javascripts/solo.js"></script>
  </head>
  <body>
	<h2>Happy Birthday!!</h2>
	<h1 id="name">Kai</h1>
  </body>
</html>
